{
  "presets": ["env"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "~": "./src/",
        "DATABASE": "./src/database",
        "COLLECTION": "./src/collection-server",
        "API": "./src/api-server"
      }
    }],
    "transform-object-rest-spread"
  ]
}